<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Minimal Demo</title>
        <link rel="shortcut icon" href="logo.png">
        <style>:root {font-family: sans-serif;}</style>

        <script type="module" src="{{ api }}/aq-touchpoint/aq-touchpoint.js"></script>
    </head>

    <body>
        <aq-touchpoint tp_id="{{ touchpointId }}" auth_url="/api/auth/{{ touchpointId }}" logging="true"/>
    </body>
</html>
