<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Minimal Demo</title>
        <link rel="shortcut icon" href="logo.png">
        <style>:root {font-family: sans-serif;}</style>

        <script type="module" src="{{ api }}/aq-touchpoint/aq-touchpoint.js"></script>
    </head>

    <body>
        <aq-touchpoint tp_id="c8e997f5-7742-4207-a769-6a64cac4ba90" auth_url="/api/auth" logging="true"/>
    </body>
</html>
