<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Touchpoint Demos</title>
  <link rel="shortcut icon" href="logo.png">
  <style>
  </style>
</head>
<body>
  <style>
    :root {
      color-scheme: light;
      --background-color: white;
      --color: black;
      font-family: sans-serif;
    }
    @media (prefers-color-scheme: dark) {
        :root {
          --background-color: black;
          --color: white;
        }
    }
    table {
      margin-left:auto; 
      margin-right:auto;
    }
    td {
      text-align: center;
      padding: 10px;
    }
    img {
        width: 50px;
    }
  </style>
  
  <table>
    <thead>
        <tr>
            <th>
                <h1><img src="/logo.png"/><span>Touchpoint Demos</span><img src="/logo.png"/></h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span style="color: red">auth environment variables not configured properly in ".env" file.</span>
            </td>
        </tr>
        <tr>
          <td>
              <span>If you do not have a ".env" file, you can start by copying sample.env as .env and then edit .env as necessary.</span>
          </td>
      </tr>
 </tbody>
  </table>
</body>
</html>
