<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }} </title>
  <link rel="shortcut icon" href="logo.png">
  <style>
  </style>
</head>
<body>
  <style>
    :root {
      color-scheme: light;
      --background-color: white;
      --color: black;
      font-family: sans-serif;
    }
    @media (prefers-color-scheme: dark) {
        :root {
          --background-color: black;
          --color: white;
        }
    }
    table {
      margin-left:auto; 
      margin-right:auto;
    }
    td {
      text-align: center;
    }
    .brandLogo {
        width: 50px;
    }
    .qrcode {
        width: 250px;
    }
  </style>
  <table>
    <tbody>
        <tr>
            <td> 
                <img class="brandLogo" src="{{ brandLogo }}"/>
            </td>    
        </tr>
        <tr>
            <td> 
             <span>{{ touchpointTitle }}</span>
            </td>    
        </tr>
        <tr>
            <td> 
                <img class="qrcode" src="{{ qrcode }}"/>
            </td>    
        </tr>
        <tr>
            <td> 
                <span>Scan with {{ wallet }}</span>
            </td>    
        </tr>
   </tbody>
  </table>
</body>
</html>
